spring:
  datasource:
    url: jdbc:mysql://localhost:3306/gis?useSSL=false&serverTimezone=UTC
    username: root

    password: 123456

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
